*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// header{
//     background-color: black;
//     width: 100%;
// }
   
//     ul{

//         gap: 20px;
//     }

// nav{
//     width: 90%;
//     height: auto;
//     margin: auto;
    
     
// }

// .collapse{
//     display: flex;
//     justify-content: flex-end;
    
// }




// header{
//     width: 100%;
//     ul{
//         gap: 20px;
        
//     }
// }

// nav{
//     width: 80%;
//     margin: auto;
 
// }

// .collapse{
//     display: flex;
//     justify-content: flex-end;

// }



header{
    width: 100%;
    background-color: #343A40;
}

nav{
width: 80%;
margin: auto;
background-color:#343A40;

ul{
    gap: 20px;
}
}
form{
    gap: 10px;
}

// .header {
//     width: 100%;
// }

// .navbar {
//     width: 80%;
//     margin: auto;

//     ul{
//         gap: 20px;
//     }
//     }


// .collapse {
//     display: flex;
//     justify-content: flex-end;
//     font-size: 15px;
//     font-weight: 400;
    
// }
